<%- include('template/head', {tituloWeb: 'Página 404'}); %>

    <h1 class="text-center"> Listado Viajes</h1>

    <div class="card-group">
        <div class="card bg-light">
          <div class="card-body text-center">
              <div>
                  <img style="height: 170px;" class="w-100 mt-3" src="http://img.emg-services.net/htmlpages/htmlpage17358/untitled-design-2021-08-19t104428.272.jpg" alt="">
              </div>
            <h3 class="mt-3">
                Madrid
            </h3>          
        </div>
        </div>
        <div class="card bg-light">
            <div class="card-body text-center">
                <div>
                    <img style="height: 170px;" class="w-100  mt-3" src="https://tecnohotelnews.com/wp-content/uploads/2019/05/shutterstock_214016374.jpg" alt="">
                </div>
              <h3 class="mt-3">
                  Barcelona
              </h3>          
          </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
                <div>
                    <img style="height: 170px;" class="w-100  mt-3" src="https://media.traveler.es/photos/613765a8bae07f0d8a492ab7/master/w_1600%2Cc_limit/172440.jpg" alt="">
                </div>
              <h3 class="mt-3">
                  Alicante
              </h3>          
          </div>
          </div>
          <div class="card bg-light">
            <div class="card-body text-center">
                <div>
                    <img style="height: 170px;" class="w-100 mt-3" src="https://viajes.nationalgeographic.com.es/medio/2018/02/27/mezquita-catedral-de-cordoba__1280x720.jpg" alt="">
                </div>
              <h3 class="mt-3">
                  Córdoba
              </h3>          
          </div>
          </div>
       

    <%- include('template/footer'); %>
