<nav class=" navbar navbar-expand-lg navbar-light bg-dark-50">
    <div class="container-fluid text-white">
      <a class="navbar-brand" href="/"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><i class="bi bi-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes"><i class="bi bi-person-circle"></i> clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes/crear"><i class="bi bi-person-plus-fill"></i> Crear</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes/viajes"><i class="bi bi-safe2-fill"></i> Viajes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clientes/seguros"><i class="bi bi-cash-coin"></i> Seguro</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>